@import "tailwindcss";

:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

[data-theme="dark"] {
  --background: #171b22;
  --surface: #202630;
  --surface-accent: #29323e;
  --surface-muted: #1c222b;

  --text-primary: #e9edf2;
  --text-secondary: #9da8b5;

  --border: #394451;

  --primary: #4b7699;
  --primary-hover: #426f91;

  --success: #82b58c;
  --success-text: #68a077;
  --success-bg: #34483a;
  --success-border: #496250;

  --warning: #d0a365;
  --danger: #b35d5d;
  --danger-bg: #493235;
  --danger-border: #634247;

  --control-icon: #9da8b5;
  --control-icon-hover: #6d9fc7;
}

[data-theme="light"] {
  --background: #f3f5f7;
  --surface: #ffffff;
  --surface-accent: #e9edf1;
  --surface-muted: #eef1f4;

  --text-primary: #28313b;
  --text-secondary: #687583;

  --border: #d4dbe2;

  --primary: #4b7699;
  --primary-hover: #426f91;

  --success: #6f9f79;
  --success-text: #5d8e68;
  --success-bg: #e5f0e7;
  --success-border: #bfd5c3;

  --warning: #b8874d;
  --danger: #b35d5d;
  --danger-bg: #f2e3e4;
  --danger-border: #d9b7ba;

  --control-icon: #687583;
  --control-icon-hover: #4b7699;
}

[data-theme="dark"] {
    --control-icon-filter: invert(85%);
}

[data-theme="light"] {
    --control-icon-filter: invert(45%) sepia(10%) saturate(500%);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
  filter: var(--control-icon-filter);
  opacity: 0.8;
  cursor: pointer;
}

body {
  margin: 0;
  background: var(--background);
}

#root {
  min-height: 100vh;
}
